@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout-2am.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
  
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
   }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
   }

body{
	font-family: 'Roboto';
}
.sidenav {
     background: url(../images/sidemenu-body-back.png) no-repeat center center;
    height: 100%;
    left: -21%;
    padding-top: 10px;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 21%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
	background-size: cover;
}
.sidenav a {
    color: #d0d2dd;
    display: block;
    font-size: 18px;
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
	font-weight: bold;
}
.sidenav .active_menu {
    background: #8eb5dc;
    color: #fff;
    font-size: 18px;
}
a.frist {
    text-align: center;
    border-left: 4px solid;
    border-right: 4px solid;
    padding: 50px 0;
    background: url(../images/back1.png) no-repeat center center;
    background-size: cover;
}
h5, h4 {
    color: #fff;
    text-transform: capitalize;
}
.latestmovies {
    display: flex;
}
.item img {
    width: 100%;
}
.item {
    margin: 6px;
}
.top_backgrund_sec {
    background: url(../images/ba1.png) no-repeat center center;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
	float: right;
}
.tvProgramChannels img {
    width: 100% !important;
}
.owl-wrapper-outer {
    overflow: hidden;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 79%;
    float: right;
}
h1.title {
    color: #fff;
    font-size: 28px;
    padding: 0px 20px;
}
a.activ {
    background: #dddddd73;
    color: #fff;
    padding: 12px 24px;
}
.logosec {
    text-align: left;
    padding: 10px 0;
    background: #0d5fb0;
}
.time_sec {
	text-align: right;
	color: #fff;
	font-size: 14px !important;
	width: 70%;
}
.channel_icon {
    width: 150px !important;
}
.sidebar-logosec{
	text-align: left;
    padding: 10px;
    background: #0d5fb0;
	display: flex;
	align-items: center;
}
.sidebar-logosec a {
    padding-left: 0;
    width: 20%;
}
.sidebar-logosec img{
	width: 100%;
}
.logosec img {
    width: 80%;
}
.notification-heading{
	font-family: 'Blackout';
	font-size: 40px
}
.notification-subheading{
	font-size: 36px;
}
.notification-text{
	font-size: 18px;
	line-height: 28px !important;
    padding-top: 1em;
    color: #dedcdc;
}
.sports-sec {
    background: #0f4e92;
    padding-right: 0;
}
.sports-subsec {
    height: 100vh;
    padding-top: 3.5em;
}
.icon_sec .item {
    width: 33%;
    text-align: center;
	margin: 0;
}
.icon_sec {
    display: flex;
	padding: 10px 0;
}
.icon_sec .fa {
    color: #fff;
    cursor: pointer;
}
.topmoviestext {
    display: flex;
    /* background: url(../images/back3.png) no-repeat center center; */
    background-size: cover;
    margin-top: 6px;
    padding: 55px 20px 61px;
}
.topmoviestext h5, h4, p {
    color: #fff;
}
.topmoviestext p {
    width: 354px;
}

/* index2 */
.topmoviestexthomepage {
    display: flex;
    background: url(../images/back4.png) no-repeat center center;
    background-size: cover;
    margin-top: 6px;
    padding: 55px 20px 61px;
}
.topmoviestext2 p, .demand p, .CatchUpTV p, .Recordings p, .tvguide p, .topmoviestexthomepage p {
    width: 466px;
    line-height: 22px;
}
 .Recordings h5, .tvguide h5, .topmoviestexthomepage h5 {
    color: #ffff;
    font-size: 17px;
}
.homerightsec {    
    height: 100%;
    padding-top: 10px;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 18%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
    right: 0;
    background: #014a91cc;
}
.homerightsec .logosec {
    text-align: center;
    padding: 10px 0;
    background: none;
    border-bottom: none;
}
.homerightsec .logosec img {
    width: 70px;
}
.logosec1 {
    text-align: center;
}
p{
	color:#fff;
	font-size:14px;
}
.rigthtextsec {
    padding: 40px 15px;
    text-align: center;
    color: #fff;
    font-style: italic;
}
.rigthtextsec p {
    padding: 10px 0;
}
.rigthtextsec a {
    color: red;
    display: block;
}
.rigthtextsec1 {
    text-align: center;
    padding: 15px 15px 0;
    border-top: 1px solid #fff;
}

/* tvguide */
.tvguide {
    display: flex;
    background: url(../images/back5.png) no-repeat center center;
    background-size: cover;
    margin-top: 6px;
    padding: 55px 20px 61px;
}
a.frist1 {
    padding: 0;
}
a.frist1 img {
    width: 100%;
    height: auto;
}
table.table {
    color: #fff;
}
.top_table_sec thead {
    background: #002442;
}
.top_table_sec {
    margin-top: 40px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #dddddd59 ;
    box-shadow: 0px 0px 1px 0px;
	    text-transform: capitalize;
}


/* Recordings */
.Recordings {
    display: flex;
    background: url(../images/back6.png) no-repeat center center;
    background-size: 100% 100%;
    margin-top: 6px;
    padding: 85px 20px;
    margin: 10px 0 50px;
}
.audiosec {
    display: flex;
}

.widht60 {
    width: 80%;
    padding: 0px 35px;
}
ul.audiorecording li {
    width: 33%;
    float: left;
    list-style: none;
}
ul.audiorecording {
    border-bottom: 3px solid #29a8eb;
    display: flex;
    color: #fff;
    padding: 0;
}
li.next {
    text-align: right;
}
/* CatchUpTV */
.CatchUpTV {
    display: flex;
    /* background: url(../images/back7.png) no-repeat center center; */
    background-size: 100% 100%;
    margin-top: 6px;
    padding: 81px 20px;
    margin: 10px 0 70px;
}
/*  movieondemand*/

.demand {
    display: flex;
   /*  background: url(../images/back8.png) no-repeat center center; */
    background-size: cover;
    margin-top: 6px;
    padding: 100px 20px 61px;
    margin: 10px 0 70px;
}
/* app store */
.top_backgrund_sec1 {
    background: url(../images/ba1.png) no-repeat center center;
    width: 100%;
    display: inline-block;
    min-height: 100vh;
    background-size: cover;
}
.topmoviestext2 {
    display: flex;
    padding-top: 50px;
}
.toptext11 {
    width: 70%;
}
.topmoviestext2 p{
    width: 550px;
    line-height: 22px;
}
.app_img_sec {
    display: list-item;
    padding: 48px 0 19px;
}
.app_img_sec .item {
    display: inline-block;
    width: 24%;
    margin: 3px;
}
.acc_id_sec {
    display: flex;
    width: 100%;
}
.email_id_sec .item, .acc_id_sec .item {
    width: 33%;
    float: left;
}
.email_id_sec {
    width: 100%;
    display: flex;
}
.button_status_sec h5 {
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 10px;
}
textarea#subject {
    background: none;
    width: 100%;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 13px;
    margin-top: 20px;
	color: #fff;
}
textarea:focus {
	outline: none !important;
}
textarea::placeholder {
  color: #fff;
}
a.repirt {
    padding: 38px 28px;
    border: 1px solid;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    border-radius: 23px;
}
.button_status_sec {
    display: flow-root;
    padding: 15px 17px 80px;
    background-size: cover;
}
h5.timesec {
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    font-size: 14px;
}
/* setting */
.videosec {
    width: 100%;
    height: 100vh;
    display: flex;   
    position: relative;
}

.video_imgsec {
    width: 90%;
    display: flex;
    margin: 0 auto;
}
h3 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 6px 0;
    font-weight: bold;
}
.bully {
    width: 30%;
    position: absolute;
    left: 5%;
    top: 0;
}
.item.rightimgsec {
    position: absolute;
    right: 5%;
    height: 100%;
	top: 6%;
}
h3.related-video-heading {
    position: fixed;
    right: 5%;
    font-family: 'Blackout';
}
.buttonbottm {
    display: flex;
    /* width: 100%; */
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 40%;

}
.rightimgsec li {
    margin: 20px 0;
    list-style: none !important;
}

.subscription-status {
	color: #fff;
    text-align: center;
    position: absolute;
    bottom: 2px;
    width: 100%;
    font-size: 12px;
}

/* Toast */
#toastMessage {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toastMessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.notification-image img {
    width: 100% !important;
}

@media (max-width: 767px) { 
	.topmoviestext p {
		width: 100%;
	}
	.container {
		width: 100% !important;
		    padding: 0 !important;
	  
	}
	
	
	
	.tvguide p, .topmoviestexthomepage p {
		width: 100%;
		
	}
	.topmoviestext2 p {
		width: 100%;
		
	}
	ul.audiorecording {
	   
		display: block;
		
	}
	.topmoviestext2 p, .demand p, .CatchUpTV p, .Recordings p, .tvguide p, .topmoviestexthomepage p {
		width: 100%;
		
	}
	.demand {
		display: flex;
		
		background-size: 100% 100%;
	   
		padding: 12px 20px 18px;
		margin: 10px 0 22px;
	}
	.Recordings {
		display: flex;
			background-size: 100% 100%;
		padding: 12px 20px 13px;
		margin: 10px 0 30px;
	}
	.widht60 {
		width: 90%;
		padding: 0 0px;
		margin: 5px 0 0 0;
	}
	.app_img_sec .item {
		display: inline-block;
		width: 100%;
		margin: 3px;
	}
	.email_id_sec .item, .acc_id_sec .item {
		width: 100%;
		float: left;
	}
	.email_id_sec {
		  display: block;
	}
	.tvguide {
		
	   
		background-size: 100%;
		margin-top: 6px;
		padding: 0 20px 1px;
	}
	.buttonbottm {
		display: flex;
		/* width: 100%; */
		margin: 0 auto;
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 40%;
	}

	.video_imgsec {
		width: 100%;
		display: block;
		
	}
	.rightimgsec li {
		list-style: none;
		width: 25%;
		float: left;
	   
	}
	.rightimgsec img {
		padding: 10px;
	}
	
}
@media (min-width: 1600px) and (max-width: 3000px) {  
	.sidenav {
	 
	   background-size: 100% 100%;
	} 
}
@media (min-width: 768px) and (max-width: 1200px) {  
	.sidenav a {
		font-size: 12px;
		
	}
	.app_img_sec .item {
			margin: 1px;
	}
}

@media (min-width: 320px) and (max-width: 680px) {  
	.rightimgsec img {
		padding: 10px;
	}

}
